@import "tw-animate-css";
@import "./variables.css";

@custom-variant dark (&:is(.dark *));

@import "tailwindcss/preflight";
@tailwind components;
@tailwind utilities;

@theme inline {
}

@layer base {
  html {
    font-family: var(--font-sans);
    font-weight: var(--font-regular);
    font-size: var(--text-lg);
    line-height: var(--leading-lg);
  }

  body {
    margin: 0;
    padding: 0;
    @apply bg-background text-foreground;
  }

  * {
    @apply border-border outline-ring/50;
  }
}
